.about

  &__block
    color: $color-dark
    margin: 70px 0

  &__wrapper
    display: flex
    justify-content: space-between
    align-items: center
    gap: 20px
    @media screen and (max-width: 640px)
      flex-direction: column

  &__img-block
    margin: 0 auto
    
  &__img
    @media screen and (max-width: 640px)
      display: block
      margin: 0 auto
      width: 50%

  &__content
    max-width: 540px
    @media screen and (max-width: 640px)
      text-align: center

  &__title
    margin-bottom: 30px

  &__text
    margin-bottom: 30px
    font-size: 14px
    font-family: Roboto
    font-weight: light
    color: #413d4b

  &__btn
    @media screen and (max-width: 640px)
      margin: 0 auto

  &__video
    // min-height: 550px
    height: 100%
    background: url(../img/backgrounds/story-bg.jpg) bottom
    background-repeat: no-repeat
    background-size: cover

  &__gradient
    padding-top: 200px
    min-height: 550px
    background: $gradient

  &__player-button
    display: block
    margin: 0 auto
    background-color: transparent
    cursor: pointer

  &__video-slogan
    margin-top: 30px
    font-size: 16px
    font-family: Roboto
    font-weight: 900
    text-align: center


